
/* Footer */
.strong--footer-texto-marcas{
    font-family: "Gotham Regular", sans-serif;
}

.headingLevel4--footer-texto-marcas{
    font-size: 30px;
    color: #5e5e5e;
    font-family: Neutraface2Text, sans-serif;
}

.headingLevel3--footer-newsletter {
    margin-bottom: 0;
}

.headingLevel5--footer-newsletter {
    text-align: center;
    margin-top: 0;
}

.strong--footer-general-titulo{
    font-family: "Gotham Regular";
    padding: 0;
    font-size: 14px;
    line-height: inherit;
    color: #fff;
    text-transform: none;
    margin-left: 15px;
}

.paragraph--footer-general-titulo {
    font-weight: 400;
    padding: 0;
    font-size: 16px;
    line-height: inherit;
    color: #fff;
    text-transform: none;
}

.container--institucional{
    width: 80%;
    margin: auto;
    font-family: "Gotham Bold", sans-serif;
}

.container--institucional-condiciones-y-servicios{
    width: 80%;
    margin: auto;
    margin-bottom: 35px;
    font-family: "Gotham Regular", sans-serif;
}

.strong--footer-newsletter{
    color: white;
}

.paragraph--texto-ministerio {
    font-family: arial;
    color: white;
}

.container--texto-ministerio{
    display: inline-flex;
    align-items: center;
}

.wrapper--footer-general-email, .wrapper--footer-general-whatsapp {
    margin-left: 10px;
}

.container--footer-newsletter{
    align-items: flex-start;
}

.link--footer-general-email, .link--footer-general-whatsapp {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.wrapper--footer-newsletter {
    width: 100%;
}
/* Header */
.strong--header-separador {
    font-weight: bold;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.paragraph--header-separador {
    margin-top: 0;
    margin-bottom: -10px;
}

.paragraph--nav-texto-envio {
    text-align: center;
}

.container--nav-texto-envio-mobile {
    margin-right: 2px;
}

.container--nav-texto-envio {
    background: #000;
    color: #ffffff;
    font-size: 14px;
    margin-right: 5px;
    text-transform: uppercase;
}

.paragraph--nav-texto-envio {
    margin: 7px;
}

.wrapper--footer-general-somos {
    color: white;
    font-family: "Gotham Regular";
    font-size: 12px;
    text-align: initial;
}

.container--footer-general-somos {
    margin-bottom: 20px;
}

.strong--nav-texto-envio {
    font-size: 12px;
}

.container--nav-texto-envio2{
    background: #000;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.strong--nav-texto-envio2-mobile {
    font-size: 12px;
    color: white;
}

.strong--nav-texto-envio-mobile {
    font-size: 12px;
    color: #FF5A07;
}

/* Vitrinas */

.paragraph--texto-not-mayo, .paragraph--texto-not-milk, .paragraph--texto-not-icecream {
    min-width: 216px;
    text-align: center;
}

/* Nosotros */
.paragraph--texto-nosotros {
    font-weight: bold;
    font-size: 48px;
    margin-left: 80px;
    line-height: 44px;
    margin-right: 45px;
    color: black;
    margin-bottom: 0;
    text-align: left;
    font-family: "Gotham Regular";
}

.strong--texto-nosotros {
    color: #5e5e5e;
    font-weight: bold;
    font-family: "Gotham Regular";
}

.strong--texto-nosotros-mobile {
    font-size: 28px;
    font-family: "Gotham Regular";
    font-weight: 700;
    line-height: 32px;
    color: #000;
    letter-spacing: 0;
}

.paragraph--texto-nosotros-mobile {
    margin-left: 15px;
}

.paragraph--texto-sin-transgenicos, .paragraph--texto-sin-lactosa, .paragraph--texto-sin-gluten, .paragraph--texto-sin-huevos, .paragraph--texto-sin-colesterol{
    font-size: 12px;
    font-weight: 900;
}

.container--texto-sin-colesterol-mobile {
    margin: auto;
}

/* Home */
.paragraph--texto-not-combos-titulo {
    margin-bottom: 0;
    font-family: "Gotham Regular";
    text-align: center;
    font-size: 22px;
    color: black;
}

/* Institucioanl */
.headingLevel3--institucional {
    text-align: initial;
}

.paragraph--institucional {
    text-align: initial;
    font-family: 'Gotham Regular';
    font-size: 13px;
}

.strong--institucional-titulo {
    font-size: 22px;
    font-family: 'Gotham Bold';
    color: #000;
}

.strong--institucional {
    font-size: 16px;
    font-family: 'Gotham Bold';
    color: #000;
}