.container {
    border-top: 1px solid red;
}
.container::before {
    content: "";
    display: block;
    width: 8%;
    border-top: solid 4px #FF5A07;
    position: relative;
    bottom: 2px;
    right: 20px;
}
.summaryButtonContainer {
    display: none;
}

.reviewCommentsContainer :global( ul li:first-child){
    display: none;
}
.stars {
    display: inline-block;
    width: 40%;
}
.reviewCommentsContainer :global(.t-body) {
    text-align: center;
}
@media(max-width:767px){
    .stars {
        width: auto;
    }
    .reviewCommentsContainer :global(.t-body) {
        text-align: left;
    }
}