.groupName--specifications-groupName {
    text-align: left;
    font-size: 25px;
    color: #FF5A07;
    margin-left: 30px;
}

.groupName--specifications-queincluyeName {
    text-align: left;
    font-size: 25px;
    color: #FF5A07;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
}

@media(max-width:767px){
    .groupName--specifications-groupName {
        text-align: center;
        font-size: 25px;
        color: #FF5A07;
        margin-left: 0px;
    }
}