.wishlistIconContainer {
    text-align: right;
    position: relative;
    bottom: 6px;
}
.vtex-wish-list-1-x-wishlistIconContainer {
    text-align: right;
    position: relative;
    bottom: 6px;
}