
.galleryTitle--layout {
    text-align: center;
}

.galleryTitle--layout {
    text-align: center;
    padding: 5px;
    color: white;
    background: black;
    font-family: "Gotham Regular";
    font-weight: 700;
    margin-bottom: -130px;
}

.categoryItemChildren {
    font-family: 'Gotham Regular';
    font-size: 14px;
}

.selectedCategory {
    font-family: 'Gotham Regular';
}

.categoryItemName {
    font-family: 'Gotham Regular';
}

.filterTitle {
    font-family: 'Gotham Regular';
}

.filterItem {
    font-family: 'Gotham Regular';
    font-size: 14px;
}

.filter__container--b {
    position: absolute;
    top: 295px;
    min-height: 250px;
}


.filter__container--title {
    margin-bottom: 245px;
}

.accordionFilter {
    display: grid;
}

.filterAccordionBreadcrumbs {
    order: 1;
}

.accordionFilterContainer--marcas {
    order: 2;
}

.accordionFilterContainer {
    order: 3;
}