
.slide {
    padding: 15px;
    font-family: NeutraFace2Text;
}

.title {
    font-family: 'Gotham Regular';
    color: currentColor;
    background: transparent;
    padding-bottom: 0;
    padding-top: 0;
    text-align: initial;
    display: grid;
    font-size: 1.75em;
    justify-content: initial;
    padding: 10px 10px 0px 20px;
    border-radius: 8px;
    
}

.title::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 5px;
    border-bottom: solid 1px #ccc;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.title::before {
    content: "";
    display: block;
    width: 13%;
    padding-top: 5px;
    border-bottom: solid 4px #FF5A07;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    top: 40px;
}

.container--shelf-destacados {
    max-width: 1280px;
    margin: auto;
}

.relatedProducts--shelf-relacionados {
    max-width: 1280px;
    margin: auto;
    margin-top: 10px;

}

.container--mas-vistos {
    margin-top: 60px;
}

.container--vitrina-milk, .container--vitrina-mayo, .container--vitrina-icecream, .container--vitrina-combos {
    max-width: 905px;
    margin-right: 20px;
}

.container--shelf-relacionados {
    max-width: 1280px;
    margin: auto;
}

.dot--isActive{
    background: #FF5A07;
}
.title--shelf-destacados{
    display:none;
}