
.container--breadcrumb{
    text-align: left;
}

.link:hover {
    color: #FF5A07;
}

.term--breadcrumb {
    font-family: "Gotham Regular";
}

.container--breadcrumb {
    font-family: "Gotham Regular";
}

.container--breadcrumb {
    max-width: 1280px;
    margin: auto;
}

.link {
    font-family: 'Gotham Regular';
}

.container {
    max-width: 1280px;
    margin: auto;
    width: 100%;
}