.infoCardContainer {
  min-height: 500px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  border-bottom: 0;
}

.searchBarContainer {
  margin-right: 20px;
  margin-left: 20px;
}

.suffixWrapper--busqueda {
  display: none;
}

.searchBarContainer {
  align-items: center;
  display: flex;
  margin-left: 0;
}

.imageElement--lanzamiento1,
.imageElement--lanzamiento2 {
  border-radius: 30px;
  margin-bottom: 30px;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

/* Header */
.imageElementLink--imagen-milk-izq,
.imageElementLink--imagen-milk-der {
  align-items: center;
  display: flex;
}

.imageElementLink--imagen-milk-izq {
  margin-left: 7px;
}

.imageElementLink--imagen-milk-der {
  margin-right: 7px;
}

.logoLink--logo-mobile {
  margin-right: 55px;
}

.imageElement--imagen-combos-menu {
  margin-right: 70px;
}

.imageElement--imagen-row {
  display: flex;
  margin: auto;
}

/* Nosotros */
.imageElement--imagen-nosotros-mobile {
  width: 90%;
  margin: 20px 20px 0 18px;
}

.imageElement--imagen-nosotros {
  margin-left: 25px;
  padding-top: 30px;
}

.imageElement--imagen-nosotros-colesterol-mobile,
.imageElement--imagen-nosotros-huevos-mobile,
.imageElement--imagen-nosotros-transgenicos-mobile,
.imageElement--imagen-nosotros-lactosa-mobile,
.imageElement--imagen-nosotros-gluten-mobile {
  margin: auto;
}

/* Vitrina */
.sellingPrice {
  font-weight: bold;
}
.discountInsideContainer {
  background: #ff5a07;
}

/* Producto */
.productImagesContainer--image-producto {
  width: 75%;
  margin: auto;
}

.productNameContainer--product-name {
  text-align: left;
  margin-bottom: 5px;
  font-family: "Gotham Regular";
  text-transform: uppercase;
}
.sellingPrice {
  text-align: left;
  margin-bottom: 0px;
  font-family: "Gotham Regular";
  text-transform: uppercase;
}
.priceContainer {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.shareButtons {
  display: inline-flex;
}

.productBrandContainer--marca-product {
  text-align: left;
  font-size: 22px;
  font-family: "Gotham Bold";
}
.productBrandContainer--marca-productos {
  text-align: left;
  font-size: 22px;
  font-family: "Gotham Bold";
  margin-bottom: 20px;
}

.price_listPriceContainer--product-price {
  text-align: initial;
}

.specificationsTabsContainer--specifications-product {
  padding-top: 0;
}
.specificationsTable--specifications-product {
  text-align: center;
}
.specificationsTablePropertyHeading--specifications-product {
  text-align: center;
}
.specificationsTableSpecificationHeading--specifications-product {
  text-align: center;
}
.shareContainer {
  padding-top: 10px;
}

.productDescriptionText--descripcion {
  font-family: "Gotham Regular";
  text-align: justify;
  font-size: 14px;
  margin-left: 0px;
  position: relative;
  margin-block-start: 0px !important;
  padding-inline-start: 0 !important;
  right: 25px;
}

.productDescriptionTitle--descripcion {
  color: black;
  font-weight: bold;
  font-size: 22px;
  font-family: "Gotham Regular";
  display: none;
}
.shareLabel {
  font-family: "Gotham Regular";
}

.savings--discountInsideContainer {
  background: #ff5a07;
}
.listPriceLabel {
  display: none;
}
.listPriceValue {
  font-size: 1.25rem;
  margin-top: 10px;
}
.sellingPriceLabel {
  display: none;
}
.highQualityProductImageImgElement {
  max-height: 600px;
}
.productBrand--product-name {
  margin-left: 60px;
  font-weight: 600;
}
.productDescriptionContainer--descripcion {
  width: 80%;
}

.shippingContainer {
  margin-top: 20px;
}

.shippingTableCellDeliveryName {
  display: none;
}
.shippingTableCellDeliveryEstimate::before {
  content: "Icono";
  background-image: url(https://killstorecl.vteximg.com.br/arquivos/box-ship.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 5px 0px;
  height: 50px;
  width: 50px;
  color: transparent;
  padding: 3px;
}
.shippingContainer :global(.vtex-button) {
  background-color: transparent;
  color: black;
  border-color: transparent;
  text-decoration: underline;
}
.shippingNoMessage {
  font-size: 0;
  margin-top: 2px;
}
.shippingNoMessage::after {
  content: "No es posible calcular despacho de un producto sin stock. Intente con otro producto o aguarde que tengamos unidades disponibles nuevamente.";
  font-size: 14px;
}

@media (max-width: 767px) {
  .productBrand--product-name {
    margin-left: 0px;
    font-weight: 600;
  }
  .specificationsTable--specifications-product {
    width: 100% !important;
  }
  .productBrandContainer--marca-productos {
    margin-bottom: 0;
  }
  .productDescriptionContainer--descripcion {
    width: 100%;
  }
}

/* Footer */

.container--form-newsletter {
  padding-top: 0 !important;
}

.imageElement--logo-footer {
  margin-left: 90%;
  margin-top: 25px;
}

.imageElement--logo-footer-mobile {
  margin-top: 25px !important;
  margin: auto;
}

.imageElementLink--logo-vtex-mobile {
  width: 30%;
  margin: auto;
}

.imageElementLink--logo-ko-mobile {
  width: 60%;
}

.imageElementLink--logo-vtex {
  width: 40%;
}

.imageElementLink--logo-ko {
  width: 75%;
}

.imageElement--logo-vtex-mobile {
  margin-left: 35%;
}

.specificationsTitle--specifications-product {
  color: black;
  font-weight: bold;
  font-size: 22px;
  font-family: "Gotham Regular";
  display: block;
  margin-top: 15px;
}
.specificationsTableContainer--specifications-product {
  padding-left: 0px;
  margin-top: 5px;
}
.specificationItemProperty {
  font-size: 15px;
}
.imageElement--flag {
  position: relative;
  top: 50%;
  right: -220px;
  z-index: 5;
  margin-bottom: -49px;
}

.imageElement--flag-preventa {
  top: 20px;
  position: relative;
  z-index: 5;
}

.imageElementLink--imagen-categoria-first {
  margin: 5px;
}
