
.childrenContainer--drawer-mobile {
    background: white;
}

.opened--drawer-mobile {
    background: black;
}

.menuIcon--drawer-mobile {
    color: black;
}

.closeIconContainer--drawer-mobile {
    background: black;
}

.closeIcon--drawer-mobile {
    color: #FF5A07;
}

::global(.vtex-store-drawer-0-x-childrenContainer--drawer-mobile>.vtex-menu-2-x-menuContainerNav) {
    width: -webkit-fill-available;
    margin-left: 0;
    display: flex;
}

::global(.vtex-store-drawer-0-x-childrenContainer--drawer-mobile>.vtex-menu-2-x-menuContainerNav>.vtex-menu-2-x-menuContainer) {
    width: 100%;
}