.savings--discountInsideContainer{
    background-color: #FF5A07;
    color: white;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: .75rem;
    position: relative;
    bottom: 73px;
    right: 0px;
}
.installments--product-installments {
    float: left;
    font-size: 14px;
    color: #727273;
    position: relative;
    bottom: 7px;
}
.installmentsNumber--product-installments--12 {
    font-weight: 600;
}
.currencyContainer--product-installments {
    font-weight: 600;
}


@media screen and (max-width: 768px) {
    .savings--discountInsideContainer{
        bottom: 73px;
        right: 40px;
    }
}